<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Back to School</title>
</head>

<body>
    <!-- Header Start  -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="icon">
                        <img src="./images/Shape.png" alt="logo">
                    </div>
                </div>
                <div class="col">
                    <ul class="menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="social">
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End  -->
    <section id="header">
        <div class="container">
            <div class="main-header-box">
                <div class="header-text">
                    <div class="header-title">
                        <div class="header-title-1">
                            <p>back</p>
                        </div>
                        <div class="header-title-2">
                            <p>to</p>
                        </div>
                        <div class="header-title-3">
                            <p>school</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <button>Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="header-img">
                    <img src="./images/header-1.png" alt="">
                </div>
            </div>
        </div>
    </section>

</body>

</html>